<section class="university_wrapper">
    
      <div class="heading">
        <div class="heading_image">
            <img src="../../assets/Flag-United-Kingdom 1.png">
        </div>
        <div class="heading_content">
          <h4>B.A. Honours/M.A.I. Civil, Structural, and Environmental Engineering</h4>
          <h5>University Canada West</h5>
        </div>
      </div>


      <ul class="apply_list">
        <li class="complete">
            <div class="apply_item">
                <span>1</span>
                <div class="content_area">Initiated</div> 
                <div class="btn_area"><button type="button" class="apply_btn">Completed</button></div>
            </div>
        </li>
        <li class="current">
            <div class="apply_item">
                <span>2</span>
                <div class="content_area">Submit Document</div> 
            </div>
            <ul class="upload_list">
                <li>
                    <div class="upload_content">Undergraduate <p>Testfile this is</p></div><div class="upload_btn">Upload</div>
                </li>
                <li>
                    <div class="upload_content">Higher Secondary</div><div class="upload_btn">Upload</div>
                </li>
            </ul>
        </li>
        <li>
            <div class="apply_item">
                <span>3</span>
                <div class="content_area">Apply For Course</div> 
            </div>
        </li>
        <li>
            <div class="apply_item">
                <span>4</span>
                <div class="content_area">Offers for you</div> 
            </div>
        </li>
        <li>
            <div class="apply_item">
                <span>5</span>
                <div class="content_area">Deposit your amount</div> 
            </div>
        </li>
        <li>
            <div class="apply_item">
                <span>6</span>
                <div class="content_area">Apply for US Visa</div> 
            </div>
        </li>
        <li>
            <div class="apply_item">
                <span>7</span>
                <div class="content_area">Enroll For Education</div> 
            </div>
        </li>
      </ul>
</section>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="form-group text-center">
            <button type="submit" class="apply-filter-btn">Upload Documents</button>
          </div>
        </div>
      </div>
</div>