<footer class="footer">
    <div class="container">
        <div class="row m-0 justify-content-between">
            <div class="col-lg-3 col-12">
                <div class="f-menu">
                    <h6 class="logo m-0">
                        <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" class="w-75 mb-2"
                                alt="ProU Abroad"></a>
                    </h6>
                    <p class="foot-note">
                        ProU Abroad platform leverages technology to assist you in every step of your journey
                        towards getting into your dream university and meeting your career aspirations.
                    </p>
                    <p class="mt-2"><span>Call Us : </span> 91-9741578593 (Asia) / 34-651910868 (Europe)</p>
                    <p class="mt-1"><span>Email : </span> hello@prouniversity.eu</p>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="f-menu">
                    <h6 class="text-uppercase bold">Useful Links</h6>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <!-- <li><a href="pro_devcourses.html">Professional Development</a></li> -->
                        <li><a href="terms-and-condition.html">Terms and Conditions</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="javascript:void(0);">Refund Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-12">
                <div class="f-menu">
                    <h6 class="text-uppercase bold"></h6>
                    <ul>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="blogs.html">Blog</a></li>
                        <li><a href="index.html">Pricing</a></li>
                        <li><a href="javascript:void(0);">Platform</a></li>
                        <li><a href="javascript:void(0);">Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="f-menu">
                    <h6 class="text-uppercase bold">Address</h6>
                    <p>
                        <b class="d-block">Mumbai Office</b>
                        1st Floor, Kagalwala House, Bandra Kurla Complex (BKC), Mumbai - India
                    </p>
                    <p>
                        <b class="d-block">Africa Office</b>
                        3/5 Ikoyi Crecent, Modupe Alakija Cres, Ikoyi, Lagos, Nigeria, Africa.
                    </p>
                    <p>
                        <b class="d-block">Europe Office</b>
                        Av. de Europa, 26B, 28224 Pozuelo de Alarcón, Madrid, Spain, Europe.
                    </p>
                    <!-- <p class="mt-3">
                        <b class="d-block">Mumbai Office</b>
                        LG 02, B Wing, Art Guild House, Phoenix Market City L.B.S Marg, Bandra Kurla Complex, <br/> Mumbai - 70
                    </p> -->
                    <h6 class="text-uppercase bold mb-3 mt-4">SOCIAL MEDIA</h6>
                    <ul class="social d-flex">
                        <!--<li><a href="https://twitter.com/ProU Abroadedu" class="p-1"><span
                                    class="icon-twitter mr-1"></span></a></li>-->
                        <li><a href="https://www.facebook.com/profile.php?id=100083834395606 " class="p-1"><span
                                    class="icon-facebook mr-1"></span></a></li>
                        <!--<li><a href="https://www.linkedin.com/company/ProU Abroadedu" class="p-1"><span
                                    class="icon-linkedin mr-1"></span></a></li>-->
                        <li><a href="https://instagram.com/proueducation" class="p-1"><span
                                    class="icon-instagram mr-1"></span></a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center text-muted pt-3 mt-3 col-12 p-0 border-top"><small>Copyright © Markingo
                    Technologies Private Limited "Made with ❤ in Spain"</small></p>
        </div>
    </div>
</footer>
