<div class="container">
    <div class="filter_block"><h3 class="filter_head">
        Sort by
        <svg slot="end" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </h3>
      <div>
        <select interface="action-sheet" class="input_box">
          <option value="most">Most Relevant</option>
          <option value="lowtohigh">Fees (Low to High)</option>
          <option value="hightolow">Fees (High to Low)</option>
        </select>
      </div>
  
      </div><div class="filter_block"><h3 class="filter_head">
        Course Level
        <svg slot="end" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </h3>
      <ul class="filter_list">
        <li>Undergraduate</li>
        <li class="active">Postgraduate</li>
        <li>Foundation</li>
        <li>Doctorate</li>
      </ul>
  
      </div><div class="filter_block"><h3 class="filter_head">
        Subjects
        <svg slot="end" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </h3>
      <div>
        <input placeholder="Type keywords here" class="input_box" type="search">
      </div>
      <ul class="filter_items">
        <li>Computer Science 
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4L4 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 4L12 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
      </ul>
  
  
      </div><div class="filter_block"><h3 class="filter_head">
        Course duration
        <svg slot="end" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </h3>
      <ul class="filter_list">
        <li>Less than 1 year</li>
        <li class="active">1 - 2 Years</li>
        <li>2 - 3 Years</li>
        <li>More than 3 years</li>
      </ul>
  
  
      </div><div class="filter_block"><h3 class="filter_head">
        Study destinations
        <svg slot="end" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </h3>
      <div>
        <input placeholder="Type keywords here" class="input_box" type="search">
      </div>
      <ul class="filter_items">
        <li>Singapore
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4L4 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 4L12 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
        <li>Canada
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4L4 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 4L12 12" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
      </ul>
  
      </div><div class="filter_block"><h3 class="filter_head">
        Placements
        <svg slot="end" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6L8 10L12 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </h3>
      <!-- <div>
        <ion-label>Placements are required</ion-label>
        <ion-toggle [(ngModel)]="placements"></ion-toggle>
      </div> -->
      </div>
</div>