 <section class="topics my-classes-complete design-inspiration-sec course-details-header">
    <div class="container">
        <div class="row">
            <div class="col-12 top-heading" data-aos="fade-up" data-aos-duration="1000">
                <h2><a (click)="gotoBack()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> {{resourseDetails.name}}</a></h2>
            </div>
        </div>

        <div class="row mt-0 mt-sm-2">
            <div class="col-12" data-aos="fade-up" data-aos-duration="2000">
                <div class="resources-categories">
                    <div class="resources-categories-lists m-0">
                        <ng-container *ngIf="resourseDetails.resources.length>0; else elseBlock">
                            <ul class="list-unstyled p-0 m-0">
                                <li *ngFor="let list of resourseDetails.resources">
                                    <a routerLink="/user/events/resources_details/{{list.id}}">
                                        <div class="resources-categories-list">
                                            <div class="resource-categories-txt">
                                                <!-- <i class="fas fa-basketball-ball"></i> -->
                                                <img src="{{list.icon}}">
                                                <span>{{list.name}}</span>
                                            </div>
                                            <div class="resource-categories-icon">
                                                <!-- <i class="fas fa-angle-right"></i> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                                    <title>Chevron Forward</title>
                                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </ng-container>
                        <ng-template #elseBlock>
                            <p>There is no resources</p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>