   <!--Banner-->
   <section class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-7 pr-lg-5">
                <h1 data-aos="fade-down" data-aos-duration="1000">Your Dream <span>University</span> is just a click
                    away
                    Away</h1>
                <p data-aos="fade-up" data-aos-duration="1400">
                    Realise your dream to study in a top global university with our experience of 100+ years in
                    admissions abroad and career counselling.
                </p>
                <a href="#reg_form" class="btn btn-view mt-3 mb-3 mb-lg-0 mt-lg-5" data-aos="fade-up"
                    data-aos-duration="1000" data-toggle="modal" data-target="#calendlyModalCenter">Get Started for
                    Free</a>

            </div>
            <div class="col-12 col-lg-5 resp_img">
                <img src="./assets/img/main.png" data-aos="fade-left" data-aos-duration="1400" alt="ProU Abroad">
            </div>
        </div>
    </div>
</section>

<!---step--->
<section class="step">
    <div class="container">
        <div class="row m-0 justify-content-center">
            <div class="col-12 col-lg-3 plr-2 mb-1 mb-lg-0">
                <a href="ivy-top-college-coaching.html">
                    <div class="card border-0 p-3 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="./assets/img/s4.png" width="60" class="mr-3" alt="ProU Abroad">
                            University Coaching
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-3 plr-2 mb-1 mb-lg-0">
                <a href="test-preparation.html">
                    <div class="card border-0 p-3 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="./assets/img/s1.png" width="60" class="mr-3" alt="ProU Abroad">
                            Test Preparation
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="col-12 col-lg-3 plr-2 mb-1 mb-lg-0">
                <a href="recruiters.html">
                    <div class="card border-0 p-3 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="./img/s2.png" width="60" class="mr-3" alt="ProU Abroad">
                            For Recruiters
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="col-12 col-lg-3 mb-1 mb-lg-0 plr-2">
                <a href="education-loans.html">
                    <div class="card border-0 p-3 shadow-sm">
                        <div class="d-flex align-items-center">
                            <img src="./assets/img/s5.png" width="60" class="mr-3" alt="ProU Abroad">
                            Education Loans
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> <!--Proces-->
<section class="pb-5">
    <div class="container">
        <div class="row m-0 overflow-hidden">
            <div class="col-12 col-lg-4 mb-4" data-aos="fade-right" data-aos-duration="1000">
                <a href="javascript:void(0)">
                    <div class="card p-3 shadow-sm border-0 proses">
                        <img src="./assets/img/icon2.png" class="vert-move" alt="ProU Abroad">
                        <h5>Simple Application</h5>
                        <p>Create a profile in minutes, apply to multiple schools and programs in seconds</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1400">
                <a href="javascript:void(0)">
                    <div class="card p-3 shadow-sm border-0 proses">
                        <img src="./assets/img/students_admission_counselling.png" class="vert-move" alt="ProU Abroad">
                        <h5>Admission Counselling</h5>
                        <p>Get expert advice on school and program selection, applications, visa, and travel.</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4" data-aos="fade-left" data-aos-duration="1800">
                <a href="javascript:void(0)">
                    <div class="card p-3 shadow-sm border-0 proses">
                        <img src="./assets/img/students_schools_icon2.png" class="vert-move" alt="ProU Abroad">
                        <h5>3,500+ Schools</h5>
                        <p>Choose from 50,000+ programs across US, Canada, UK, Europe (Spain, Italy, Germany,
                            Netherlands), Singapore, Australia and New Zealand.</p>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-4 mb-4" data-aos="fade-right" data-aos-duration="1000">
                <a href="javascript:void(0)">
                    <div class="card p-3 shadow-sm border-0 proses">
                        <img src="./assets/img/students_financial_guidance_icon2.png" class="vert-move" alt="ProU Abroad">
                        <h5>Financial Guidance</h5>
                        <p>Get exclusive scholarships and discover financial support options.</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4" data-aos="fade-up" data-aos-duration="1400">
                <a href="javascript:void(0)">
                    <div class="card p-3 shadow-sm border-0 proses">
                        <img src="./assets/img/students_visa_assistance_icon2.png" class="vert-move" alt="ProU Abroad">
                        <h5>Visa Assistance</h5>
                        <p>Simplify the visa process with advice from certified experts.</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-4" data-aos="fade-left" data-aos-duration="1800">
                <a href="javascript:void(0)">
                    <div class="card p-3 shadow-sm border-0 proses">
                        <img src="./assets/img/students_continuous_support.png" class="vert-move" alt="ProU Abroad">
                        <h5>Continuous Support</h5>
                        <p>Receive 1-on-1 support from ProU Abroad global coaches and mentors</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pb-2 help_up">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="page_title col-12 col-lg-10">
                <h4 data-aos="fade-down" data-aos-duration="1000">ProU Abroad will assist you at each stage of the
                    admissions process at top global Universities.</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-3">
                <div class="st1" data-aos="fade-right" data-aos-duration="1000">
                    <h1>1</h1>
                    <p>College Shortlisting </p>
                </div>
                <div class="st1" data-aos="fade-right" data-aos-duration="1300">
                    <h1>2</h1>
                    <p>Competitive Test Preparation</p>
                </div>
                <div class="st1" data-aos="fade-right" data-aos-duration="1600">
                    <h1>3</h1>
                    <p>Essay and SOP Assistance</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src="./assets/img/Img1_new.png" class="w-100" alt="ProU Abroad">
            </div>
            <div class="col-12 col-lg-3">
                <div class="st2" data-aos="fade-left" data-aos-duration="1000">
                    <h1>4</h1>
                    <p>College Application<br /> Filing</p>
                </div>
                <div class="st2" data-aos="fade-left" data-aos-duration="1000">
                    <h1>5</h1>
                    <p>Education Loans</p>
                </div>
                <div class="st2" data-aos="fade-left" data-aos-duration="1300">
                    <h1>6</h1>
                    <p>Profile Enhancements</p>
                </div>
            </div>
            <div class="col-8 col-lg-3 free-btn text-center">
                <a href="" class="btn btn-view w-100 aos-init aos-animate" data-aos="fade-up"
                    data-aos-duration="1000" data-toggle="modal" data-target="#calendlyModalCenter">Get Started for
                    free </a>
            </div>
        </div>
    </div>
</section>

<!-- Area of Study -->
<section class="pt-5 pb-3 studey">
    <div class="container">
        <div class="row m-0 mb-5">
            <div class="page_title col-12">
                <h2 data-aos="fade-down" data-aos-duration="1000">Our Expertise</h2>
            </div>
        </div>
        <div class="row m-0">
            <div class="owl-carousel skillitem owl-theme">
                <div class="item p-3">
                    <a href="" data-toggle="modal" data-target="#calendlyModalCenter">
                        <div class="card shadow-sm border-0 sr-item">
                            <img src="./assets/img/usa.jpg" class="mb-3" alt="ProU Abroad">
                            <h6>Study in USA</h6>
                            <ul>
                                <li>Most attractive study destination</li>
                                <li>Famous on account of popularity, mode of teaching, stay back options & life
                                    style</li>
                                <li>Offers variety of subjects to learn and better job prospects (World's largest
                                    economy)</li>
                            </ul>
                            <small>Read More... <i class="fas fa-arrow-right"></i></small>
                        </div>
                    </a>
                </div>
                <div class="item p-3">
                    <a href="" data-toggle="modal" data-target="#calendlyModalCenter">
                        <div class="card shadow-sm border-0 sr-item" data-aos="fade-up" data-aos-duration="1100">
                            <img src="./assets/img/canada.jpg" class="mb-3" alt="ProU Abroad">
                            <h6>Study in Canada</h6>
                            <ul>
                                <li>WEF Ranking '5' for best English-speaking country preparing students for the
                                    future</li>
                                <li>Extend study permit and find out about working while you study or after you
                                    graduate</li>
                                <li>Cheaper than studying in USA & Austalia</li>
                            </ul>
                            <small>Read More... <i class="fas fa-arrow-right"></i></small>
                        </div>
                    </a>
                </div>
                <div class="item p-3">
                    <a href="" data-toggle="modal" data-target="#calendlyModalCenter">
                        <div class="card shadow-sm border-0 sr-item">
                            <img src="./assets/img/uk.jpg" class="mb-3" alt="ProU Abroad">
                            <h6>Study in United Kingdom</h6>
                            <ul>
                                <li>Wide range of courses</li>
                                <li>Hub of the world's scientific research.</li>
                                <li>Shorter course lengths</li>
                                <li>2-year post study work visa reinstated for the students passing out in 2021.
                                </li>
                            </ul>
                            <small>Read More... <i class="fas fa-arrow-right"></i></small>
                        </div>
                    </a>
                </div>
                <div class="item p-3">
                    <a href="" data-toggle="modal" data-target="#calendlyModalCenter">
                        <div class="card shadow-sm border-0 sr-item">
                            <img src="./assets/img/australia.jpg" class="mb-3" alt="ProU Abroad">
                            <h6>Study in Australia</h6>
                            <ul>
                                <li>The third most popular destination for international students in the
                                    English-speaking world.</li>
                                <li>Expenses and tuition costs are considerably lower.</li>
                                <li>Progressive & diverse cultural back drop.</li>
                            </ul>
                            <small>Read More... <i class="fas fa-arrow-right"></i></small>
                        </div>
                    </a>
                </div>
                <div class="item p-3">
                    <a href="" data-toggle="modal" data-target="#calendlyModalCenter">
                        <div class="card shadow-sm border-0 sr-item">
                            <img src="./assets/img/st_nz.jpg" class="mb-3" alt="ProU Abroad">
                            <h6>Study in New Zealand</h6>
                            <ul>
                                <li>WEF Ranking '3' for best English-speaking country preparing students for the
                                    future</li>
                                <li>Right policies, teaching and socio-economic environments for students' future
                                    success</li>
                                <li>Students are supported by New Zealand's progressive values and culture of
                                    fairness and equality</li>
                            </ul>
                            <small>Read More... <i class="fas fa-arrow-right"></i></small>
                        </div>
                    </a>
                </div>
                <div class="item p-3">
                    <a href="" data-toggle="modal" data-target="#calendlyModalCenter">
                        <div class="card shadow-sm border-0 sr-item">
                            <img src="./assets/img/australia.jpg" class="mb-3" alt="ProU Abroad">
                            <h6>Study in Australia</h6>
                            <ul>
                                <li>The third most popular destination for international students in the
                                    English-speaking world.</li>
                                <li>Expenses and tuition costs are considerably lower.</li>
                                <li>Progressive & diverse cultural back drop.</li>
                            </ul>
                            <small>Read More... <i class="fas fa-arrow-right"></i></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--features-->
<section class="mt-5 features">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4 position-relative" data-aos="fade-right" data-aos-duration="1000">
                <img src="./assets/img/18.png" class="fim" alt="ProU Abroad">
            </div>
            <div class="col-12 col-lg-4" data-aos="fade-down" data-aos-duration="1400">
                <h5>TRAVEL & FOREX SAVINGS</h5>
                <p>Save big on tuition fees</p>
                <p>Book special student fare flight tickets</p>
                <p>Apply for student VISA</p>
            </div>
            <div class="col-12 col-lg-4 overflow-hidden" data-aos="fade-left" data-aos-duration="1800">
                <h5>PAY FEES IN EASY EMI</h5>
                <p> Zero Interest, Zero Cost</p>
                <p>6, 10, 12 simple monthly instalments</p>
                <p>Insurance coverage for 100% Counseling Fee</p>
            </div>
        </div>
    </div>
</section>

<!--teacher-->
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row m-0 mb-4">
            <div class="page_title col-12">
                <h2 data-aos="fade-down" data-aos-duration="1000">Prepare with our Global Coaches</h2>
            </div>
        </div>

        <div class="row m-0 mb-5">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div class="card border-0 foreign_coaches ">
                    <div class="teacher_name text-center">
                        <img src="./assets/img/sara-gonzales.png">
                        <h5>Sara Gonzales</h5>
                        <p>
                            She is a Peruvian economist doing a PhD in Social Science at Universidad Carlos III de
                            Madrid, where she also did a master’s in social science. Before the Master, Sara worked
                            in both the private and public sectors in Peru. In the public sector, she worked as a
                            policy analyst for several government agencies, such as the National Tax Agency, the
                            Ministry of Production, and the Ministry of Economy and Finance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div class="card border-0 foreign_coaches">
                    <div class="teacher_name text-center">
                        <img src="./assets/img/mg.jpg">
                        <h5>Miguel Angel Cabello Pérez</h5>
                        <p>
                            Currently doing PhD in Economics at UC3M and doing research on Time Series Econometrics.
                            My main paper is related to the estimation method for structural Vector Autoregression
                            Moving Average models with non-Gaussian errors. Besides, my preferences are related to
                            statistical and mathematical modelling. I have been teaching undergraduate and
                            postgraduate courses at the university. I worked for 5 years at the Central Bank in
                            Peru, as an analyst in Monetary Policy and Macroeconomic Modelling.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-0 mb-5">
            <div class="page_title col-12">
                <h2 data-aos="fade-down" data-aos-duration="1000">Curated Top Coaches</h2>
            </div>
        </div>
        <div class="row m-0">
            <div class="owl-carousel teacher owl-theme">
                <div class="item">
                    <div class="teacher_img"><img src="./assets/img/Piyush.jpg" alt="ProU Abroad"></div>
                    <div class="teacher_name text-center">
                        <h5>Piyush</h5>
                        <img src="./assets/img/piyush-1.jpg" alt="ProU Abroad">
                    </div>
                </div>
                <div class="item">
                    <div class="teacher_img"><img src="./assets/img/swapnil.jpg" alt="ProU Abroad"></div>
                    <div class="teacher_name text-center">
                        <h5>Swapnil</h5>
                        <img src="./assets/img/imperial-college-london.jpg" alt="ProU Abroad">
                    </div>
                </div>
                <div class="item">
                    <div class="teacher_img"><img src="./assets/img/megha.jpg" alt="ProU Abroad"></div>
                    <div class="teacher_name text-center">
                        <h5>Megha</h5>
                        <img src="./assets/img/megha-1.png" alt="ProU Abroad">
                    </div>
                </div>
                <div class="item">
                    <div class="teacher_img"><img src="./assets/img/Kavyanjali.jpg" alt="ProU Abroad"></div>
                    <div class="teacher_name text-center">
                        <h5>Kavyanjali</h5>
                        <img src="./assets/img/westminister.jpg" alt="ProU Abroad">
                    </div>
                </div>
                <div class="item">
                    <div class="teacher_img"><img src="./assets/img/vaibhav.jpg" alt="ProU Abroad"></div>
                    <div class="teacher_name text-center">
                        <h5>Vaibhav</h5>
                        <img src="./assets/img/columbia_bschool.jpg" alt="ProU Abroad">
                    </div>
                </div>
                <div class="item">
                    <div class="teacher_img"><img src="./assets/img/swapnil.jpg" alt="ProU Abroad"></div>
                    <div class="teacher_name text-center">
                        <h5>Swapnil</h5>
                        <img src="./assets/img/imperial-college-london.jpg" alt="ProU Abroad">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Price-->
<section class="pt-5 pb-5 price_section">
    <div class="container">
        <div class="row m-0 mb-5">
            <div class="page_title col-12">
                <h2 data-aos="fade-down" data-aos-duration="1000">Counselling Packages</h2>
            </div>
        </div>
        <div class="row text-center align-items-start">
            <!-- Pricing Table-->
            <div class="col-lg-3 mb-5 mb-lg-0 price_table">
                <div>
                    <div class="custom-separator shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-2">SILVER</h1>
                        <h2 class="h1 font-weight-bold">₹10,000</h2>
                    </div>

                    <small><b>No Cost EMI @ ₹834</b></small>

                    <ul class="list-unstyled p-2 text-small text-left">
                        <li>
                            <b>Personalised Tech Platform</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Recommendation
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Scholarship Search
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Essay Editor
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Application Builder
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Resume Builder
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Coach</b>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Resume & Profile Writing</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>SOP, LOR, Essay Writing</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>IELTS / TOEFL</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>GRE / GMAT / SAT / ACT</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Language Coaching</del>
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Assistance</b>
                        </li>
                        <li>5 College Application</li>
                        <li>Loan & Financing</li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Travel and Accommodation Assistance</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Scholarship Assistance</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>VISA Assistance</del>
                        </li>
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#calendlyModalCenter"
                        class="btn btn-view">Subscribe</a>
                </div>
            </div>
            <!-- END -->


            <!-- Pricing Table-->
            <div class="col-lg-3 mb-5 mb-lg-0 price_table">
                <div>
                    <div class="custom-separator shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-2">GOLD</h1>
                        <h2 class="h1 font-weight-bold">₹55,000</h2>
                    </div>

                    <small><b>No Cost EMI @ ₹4584</b></small>

                    <ul class="list-unstyled p-2 text-small text-left">
                        <li>
                            <b>Personalised Tech Platform</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Recommendation
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Scholarship Search
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Essay Editor
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Application Builder
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Resume Builder
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Coach</b>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-check mr-2 text-success"></i>
                            Resume & Profile Writing
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>SOP, LOR, Essay Writing</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-check mr-2 text-success"></i>
                            IELTS / TOEFL
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>GRE / GMAT / SAT / ACT</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Language Coaching</del>
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Assistance</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i>
                            8 College Application
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i>
                            Loan & Financing
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-check mr-2 text-success"></i>
                            Travel and Accommodation Assistance
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>Scholarship Assistance</del>
                        </li>
                        <li class="text-muted">
                            <i class="fa fa-times mr-2"></i>
                            <del>VISA Assistance</del>
                        </li>
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#calendlyModalCenter"
                        class="btn btn-view">Subscribe</a>
                </div>
            </div>
            <!-- END -->


            <!-- Pricing Table-->
            <div class="col-lg-3 mb-5 mb-lg-0 price_table">
                <div>
                    <div class="custom-separator shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-2">PLATINUM</h1>
                        <h2 class="h1 font-weight-bold">₹95,000</h2>
                    </div>

                    <small><b>No Cost EMI @ ₹7917</b></small>

                    <ul class="list-unstyled p-2 text-small text-left">
                        <li>
                            <b>Personalised Tech Platform</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Recommendation
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Scholarship Search
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Essay Editor
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Application Builder
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Resume Builder
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Coach</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Resume & Profile Writing
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> SOP, LOR, Essay Writing
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> IELTS / TOEFL
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> GRE / GMAT / SAT / ACT
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Language Coaching
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Assistance</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> 8 College Application
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Loan & Financing
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Travel and Accommodation Assistance
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Scholarship Assistance
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> VISA Assistance
                        </li>
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#calendlyModalCenter"
                        class="btn btn-view">Subscribe</a>
                </div>
            </div>
            <!-- END -->


            <!-- Pricing Table-->
            <div class="col-lg-3 mb-5 mb-lg-0 price_table">
                <div>
                    <div class="custom-separator shadow">
                        <h1 class="h6 text-uppercase font-weight-bold mb-2">QS TOP 100</h1>
                        <h2 class="h1 font-weight-bold">₹250,000</h2>
                    </div>
                    <small><b>No Cost EMI @ ₹20834</b></small>

                    <ul class="list-unstyled p-2 text-small text-left">
                        <li>
                            <b>Personalised Tech Platform</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Recommendation
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Scholarship Search
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Essay Editor
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> College Application Builder
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Resume Builder
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Coach</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Resume & Profile Writing
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> SOP, LOR, Essay Writing
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> IELTS / TOEFL
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> GRE / GMAT / SAT / ACT
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> 1-1 Language Coaching
                        </li>
                    </ul>
                    <ul class="list-unstyled p-2  text-small text-left">
                        <li>
                            <b>Assistance</b>
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> 8 College Application
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Loan & Financing
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Travel and Accommodation Assistance
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> Scholarship Assistance
                        </li>
                        <li>
                            <i class="fa fa-check mr-2 text-success"></i> VISA Assistance
                        </li>
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#calendlyModalCenter"
                        class="btn btn-view">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Feedback -->
    <section class="py-3 help_up">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 page_title">
                    <h2 data-aos="fade-down" data-aos-duration="1000">What students say about us</h2>
                </div>
                <div class="col-10">
                    <div class="owl-carousel feedback-slider">
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi1.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Subhash Gupta <small>Mount Litera School, India</small></h3>-->
                            <p>“The best thing is they have truly global coaches. I was coached by an ivy league MBA
                                alumni from Madrid and have got ivy admit this year! :)”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi2.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Mr. Tayal <small>SJS School, India</small></h3>-->
                            <p>“Perhaps the only coaching for PhD in India, HIGHLY recommended.”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi3.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Leading Overseas Admission Counsellor <small> Delhi NCR</small>-->
                           
                            <p>“Love the coaches! I was counseled by Mr. Pardhu and he was thorough with the offerings”
                            </p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi4.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Leading Overseas Admission Counsellor <small> Delhi NCR</small>-->
                           
                            <p>“I wasted 3.5 Lacs in an agency and got much more here at ProU at just 1,10,000/- ”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi5.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Leading Overseas Admission Counsellor <small> Delhi NCR</small>-->
                            
                            <p>“I and my sibling both have enrolled and thankfully got our dream admit! :) ”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi6.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Leading Overseas Admission Counsellor <small> Delhi NCR</small>-->
                            
                            <p>“My journey with ProU was really amazing till now. They have helped me at every step from
                                applying to the university to helping me in getting the bank loan without any collateral
                                and co-applicant. They are also helping me with the visa process. Overall a very good
                                and supportive experience with ProU”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="./assets/img/testi7.jpg" class="center-block img-circle" alt="Customer Feedback">
                            <!--<h3 class="customer-name">Leading Overseas Admission Counsellor <small> Delhi NCR</small>-->
                            
                            <p>“It was an exciting journey with ProU . The head Piyush, and consultant Kavya helped me
                                with my process and made my process easy . the visa team is also helpful with the
                                process including Pardhu”</p>
                        </div>
                        <!--<div class="feedback-slider-item">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451270/profile/profile-80.jpg"
                                class="center-block img-circle" alt="Customer Feedback">
                            </h3>
                            <p>“Great experience, Pardhu helped me with my applications, got 3 admits”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451270/profile/profile-80.jpg"
                                class="center-block img-circle" alt="Customer Feedback">
                            </h3>
                            <p>“First I approached a different agency, after gathering my information and much delay they informed me that with a gap of 8 years, colleges do not accept students. Finally I found Leverage edu. My head coach Mohit guided me through the application process. Applied to 4 universities and got selected in 3. IELTS score I uploaded later on. After getting the unconditional offer letter and CAS, ProU also has their Visa team. ”</p>
                        </div>
                        <div class="feedback-slider-item">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/451270/profile/profile-80.jpg"
                                class="center-block img-circle" alt="Customer Feedback">
                            </h3>
                            <p>“Punctuality is one of the strongest virtues an employee can possess, every employee whom I have contacted with was very punctual. That made the process a whole lot simpler for me.
The culture of transparency & knowledge sharing maintained across all levels in the department.”</p>
                        </div>-->
                    </div>
                </div>
                <!-- <div class="col-12 text-center pt-4">
                    <a href="#" class="btn btn-view mx-auto">See More</a>
                </div> -->
            </div>
        </div>
    </section>

    <!--Provider-->
    <section class="pt-3 pb-3 pt-lg-5 pb-lg-5">
        <div class="container">
            <div class="row m-0 mb-4">
                <div class="page_title col-12">
                    <h2 data-aos="fade-down" data-aos-duration="1000">Apply to Quality Colleges</h2>
                    <p data-aos="fade-up" data-aos-duration="1400">
                        ProU Abroad Counselling team assists you to choose from <span>30,000+</span> programs across US,
                        UK,
                        Canada, Australia & Europe.
                    </p>
                </div>
            </div>
            <div class="row m-0">
                <div class="marquee">
                    <div class="marquee-content">
                        <span class="item-collection-1">
                            <span class="item1"><img src="./assets/img/school-1.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-2.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-3.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-4.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-5.jpeg" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-6.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-7.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-8.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-9.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                        </span>
                        <span class="item-collection-2">
                            <span class="item1"><img src="./assets/img/school-1.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-2.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-3.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-4.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-5.jpeg" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-6.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-7.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-8.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                            <span class="item1"><img src="./assets/img/school-9.png" class="img-fluid"
                                    alt="ProU Abroad"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--newsletter-->
    <section class="newsleter pt-5 pb-5 d-none">
        <div class="container">
            <div class="row justify-content-center m-0">
                <div class="page_title">
                    <h2 class="text-white text-center border-bottom-0" data-aos="fade-up" data-aos-duration="1000">
                        SUBSCRIBE TO OUR NEWSLETTER</h2>
                    <p class="text-white text-center" data-aos="fade-up" data-aos-duration="1400">
                        A bi-weekly newsletter on the future of work, coworking resources, and updates to our product!
                    </p>
                </div>
            </div>
            <div class="row justify-content-center m-0 mt-4">
                <div class="col-12 col-md-6 form_news" data-aos="fade-up" data-aos-duration="1400">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-envelope"></i></span>
                        </div>
                        <div class="custom-file">
                            <input type="text" class="form-control" placeholder="Enter email ">
                        </div>
                        <div class="input-group-prepend" style="padding-top: 10px;">
                            <button class="btn btn-primary"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
