<div class="container">
  <div class="row">
    <ng-container *ngFor="let list of universityList; let i=index">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="course_card" (click)="goToCountryDetialsPage(list.id)">
          <img src="{{list.image}}" class="uni_bg">

          
          <div class="course_content">
            <div class="course_icon">
              <img src="{{list.logo}}" alt="">
            </div>
            <div class="course_title">
              <h4>{{list.name}}</h4>
              <p>{{list.country}} Universities</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>   
  </div>
    
</div>