
<section class="become-instructor-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 pro-top d-none d-sm-block" data-aos="fade-up" data-aos-duration="1000">
                <div class="pro-mba-heading">
                    <h2>Change Password</h2>
                </div>

            </div>
        </div>

        <div class="row mt-0 mt-sm-3">
            <div class="col-12" data-aos="fade-up" data-aos-duration="1600">
                <div class="become-instructor-form">
                    <form #f="ngForm" (ngSubmit)="changePasswordForm(f)" novalidate>
                        <div class="form-group first form_block">
                            <!-- <label for="email">Email <sup>*</sup></label> -->
                            <div class="viewpassword">
                                <input type="email" class="form-control input" autocomplete="off" [(ngModel)]="email" name="email" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group first form_block">
                            <!-- <label for="username">Current Password <sup>*</sup></label> -->
                            <div class="viewpassword">
                                <input [type]="passwordType" class="form-control input" autocomplete="off" [(ngModel)]="password" #passwordCtrl="ngModel" name="password" placeholder="Current Password *" required>
                                <i [class]="showPsw ? 'fa fa-eye passwordPosition' : 'fa fa-eye-slash passwordPosition'" (click)="showcurrentPassword()"></i>
                            </div>
                            <p *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
                                <span class="alert alert-danger">Current Password is required</span>              
                            </p> 
                        </div>
                
                        <div class="form-group first form_block">
                            <!-- <label for="username">New Password <sup>*</sup></label> -->
                            <div class="viewpassword">
                                <input [type]="passwordnewType" class="form-control input"  autocomplete="off" [(ngModel)]="newpassword" #newpasswordCtrl="ngModel"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#^?&])[A-Za-z\d@$#!^%*?&]{8,}" name="newpassword" required (ngModelChange)="rightPassword($event)" placeholder="New Password *">
                                <i [class]="showNewPsw ? 'fa fa-eye passwordPosition' : 'fa fa-eye-slash passwordPosition'" (click)="showNewPassword()"></i>
                            </div>
                            
                            <p *ngIf="passwordValid">
                                <span class="alert alert-danger">New Password is required</span>              
                            </p> 
                            <p *ngIf="newpasswordCtrl.touched && newpasswordCtrl.errors?.['pattern']">
                                <span class="alert alert-danger">Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>              
                              </p>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="become-instructor-btn">Submit</button>
                        </div>
                        
                           
                
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>

