<section class="faq-section">
    <div class="container">
        <!-- <div class="row">
            <div class="col-12 top-heading" data-aos="fade-up" data-aos-duration="1000">
                <h2>About ProU Education</h2>
            </div>
        </div> -->
        <div class="row mt-3">
            <div class="col-12" data-aos="fade-up" data-aos-duration="2000">

                  <div class="about_content">
                    <!-- <div class="about_content_box">
                        <p>ProU Education's mission is to enable a smooth transition from education to professional life through global remote internships, tailored industry developed training curriculums and study abroad opportunities. ProU’s team is made up of international counsellors and industry experts, who hand-built the programs to help adapt the next generation to fast-changing changing environments. In 2022, ProU aided over 2000+ students to become Pros by landing their dream careers and university, securing over $1 million in scholarships.</p>
                    </div> -->

                    <div class="about_banner_box">
                        <img src="./assets/img/about-banner-1.png" alt="banner">
                    </div>
                    <div class="about_content_box">
                        <h3>About ProApp</h3>
                        
                        <!-- <h4>We teach design to anyone who wants to learn design</h4> -->
                        <p>ProU Education's mission is to enable a smooth transition from education to professional life through global remote internships, tailored industry developed training curriculums and study abroad opportunities. ProU's team is made up of international counsellors and industry experts, who hand-built the programs to help adapt the next generation to fast-changing changing environments. In 2022, ProU aided over 2000+ students to become Pros by landing their dream careers and university, securing over $1 million in scholarships.</p>
                    </div>

                    <!-- <div class="about_banner_box">
                        <img src="./assets/img/about-banner-2.png" alt="banner">
                    </div>
                    <div class="about_content_box">
                        <h3>ProCreator</h3>

                        <h4>Anyone can be a Proat design</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor, dignissim porttitor amet enim. Egestas mollis magna orci sit. Consectetur interdum sollicitudin et etiam dolor sed in.</p>

                        <h4>Extensively researched content</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor, dignissim porttitor amet enim. Egestas mollis magna orci sit. Consectetur interdum sollicitudin et etiam dolor sed in. Eget neque dolor, nec vel non.</p>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section>
