<div class="forum_panel" *ngIf="forumList && forumList.length>0; else elseBlock">
    <div class="container-fluid">
        <div class="forum_wrap">
                <div class="forum_list" *ngFor="let item of forumList">
                    <div class="row">
                        <div class="col-12">
                            <div class="forum_title">
                                {{item.topic}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <span class="edit_button" data-toggle="modal" data-target="#editAnswerModal" (click)="editForum(item)" >Edit</span>
                        </div>
                        <div class="col-auto">
                            <span class="delete_button" name="close-outline" (click)="delete(item.id)">Delete</span>
                        </div>
                    </div>
                </div>
            
            
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container-fluid text-center">
        <p class="alert alert-success">There is no forum</p>
    </div>
</ng-template>

   <!-- Modal -->
   <div class="modal fade" id="editAnswerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Forum</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #myModalClose>
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <textarea class="form-control" [(ngModel)]="editForumData" type="text" placeholder="enter"></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closebutton" area (click)="saveData()">Save & Close</button>                                                
        </div>
        </div>
    </div>
</div>