<div class="container">
    <div class="row">
      <ng-container *ngFor="let list of filterList; let i=index">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <div class="course_card" (click)="goToDetialsPage(list)">
            <img src="{{imagePath+list.image}}" class="uni_bg">
  
            
            <div class="course_content">
              <!-- <div class="course_icon">
                <img src="{{list.logo}}" alt="">
              </div> -->
              <div class="course_title">
                <h4>{{list.name}}</h4>
              </div>
              <ul>
                <li>
                  <span *ngIf="list.type==1">Undergraduate</span>
                  <span *ngIf="list.type==2">Postgraduate</span>
                  <span *ngIf="list.type==3">Diploma</span>
                </li>
                <li>
                  <span *ngIf="list.mode_of_study==2">Full Time</span>
                  <span *ngIf="list.mode_of_study==1">Half Time</span>
                </li>
                <li *ngIf="list.duration!=''">{{list.duration}}</li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>   
    </div>
      
  </div>
